<!--微信公众号二维码-->
<% if (!post && theme.wechat_url){ %>
  <div class="widget-wrap">
    <h3 class="follow-title "><%= __('wechat') %></h3>
    <div class="widget wechat-widget">
        <img src="<%=theme.wechat_url%>" alt="扫码支付" width="200"/>
        <p>微信打赏</p>
        <img src="<%=theme.alipay_url%>" alt="扫码支付" width="200"/>
        <p>支付宝打赏</p>
    </div>
  </div>
<% } %>
