/**
* back to top 
*/

.back-to-top-btn
    position:fixed
    display: none
    right:10px
    bottom: 20px
    z-index:300 !important
    cursor: pointer
    &:hover{
        border: 0.5px dashed color-grey5
    }
    @media mq-mobile
        // width: auto
        // height: 20px
        // z-index:400
        // &:hover{
        //     border: none
        // }