#sidebar
  @media mq-normal
    width: 320px
    //width: 25%

#sidebar
  @media mq-mobile
    display none 

#sidebar
  margin-left: 0
  top 0
  background: #eee
  position fixed
  height: 100%
  overflow-y: auto
  display none
  box-shadow: -0.25rem 0 0.25rem rgba(232,237,250,.6) 

.widget-wrap
  margin: block-margin 0.6em

.widget-title
  @extend $block-caption
  margin-bottom: 1em 
  /*&.categories:before
    content: "\f0c6"
    @extend $widget-block
  &.archive:before
    content: "\f03c"
    @extend $widget-block
  &.tagcloud:before
    content: "\f02c"
    @extend $widget-block
  &.tags:before
    content: "\f02b"
    @extend $widget-block
  &.recent-posts:before
    content: "\f1ea"
    @extend $widget-block
  &.lastest-comments:before
    content: "\f27b"
    @extend $widget-block
  &.hot-comment-posts:before
    content: "\f075"
    @extend $widget-block*/

.widget
  color: color-sidebar-text
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 10px
  border-radius: 10px
  a
    color: color-default
    text-decoration: none
    margin-top: 5px
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      // list-style: disc
#categories
    ul.category-list-child li >a:before
        content: "\f0da"
        @extend $widget-block
        color:color-grey